/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/.env
/.env.*
!/.env.example
/auth.json
/.phpunit.cache/
/.phpunit.result.cache
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/database/*.sqlite*
/playwright-report/
/test-results/
/.idea/
/.vscode/
.DS_Store
Thumbs.db
*.pem
*.p12
